<phpunit backupGlobals="false" backupStaticAttributes="false">
    <logging>
        <clover outputFile="coverage.xml"/>
    </logging>
    <coverage>
        <include>
            <directory suffix=".php">./src</directory> <!-- Répertoire contenant ton code -->
        </include>
    </coverage>
</phpunit>